@charset "utf-8";
.service {
  background-color: #eee;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 15px;
}

.title {
  color: #398072;
  font-size: 40px;
  text-align: center;
}

.service__items {
  display: flex;
  gap: 30px;
  margin-top: 80px;
}

.service__body {
  background-color: #fff;
  padding: 10px;
}

.service__img {
  width: 100%;
}

.service__title {
  border-left: 10px solid #398072;
  color: #398072;
  font-size: 26px;
  padding: 5px;
}

.service__text {
  line-height: 1.5;
  margin-top: 15px;
}

@media screen and (max-width:400px) {
  .service__items {
    flex-direction: column;
  }
}




