@charset "utf-8";

/* 共通 */
.inner {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* １ */
.box {
  width: 300px;
  height: 300px;
  background-color: blue;
}

/* ２ */
.box--red {
  background-color: red;
}

.inner--wrap {
  flex-wrap: wrap;
  row-gap: 20px;
}

/* ３ */
.header__items {
  display: flex;
}

.header__item {
  border-right: 1px solid #333;
  padding: 5px 20px;
}

.header__item:last-child {
  border: none;
}

@media screen and (max-width: 767px) {
  .box {
    display: none;
  }

  /* ３ */
  .inner {
    width: 95%;
  }

  .header__inner,
  .header__items {
    flex-direction: column;
  }

  .header__item {
    border: none;
    border-bottom: 1px solid #333;
  }

  .header__item:last-child {
    border-bottom: 1px solid #333;
  }
}